html, body {
    height: 100%;
}

#map {
    height: 50%;
    width: 40%;
    margin-top: 1rem;
    border: solid 3px black;
}

#queryFormButtons{
    margin-bottom: 1rem;
}

.centerButtons{
    text-align: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}