#button{
    float: right;
}

body {
    padding: 20px;
    background-color: white;
}

.search-class {
    border: none;
    background: #ffffff;
}
   
.icon-search {
    border: 1px solid #f2f2f2;
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
    border-right: none;
    padding-right: 0;
}
   
.input-search {
    border: 1px solid #f2f2f2;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    border-left: none;
}
   
.input-search:focus {
    border-color: #f2f2f2;
}

#fa{
    margin-top: 10px;
}

#listaIncidencias{
    overflow: auto;
    height: 600px;
}
  