body {
    background-color: #C0CDFA;
    font-size: 24px;
    background-image: url("../resources/papel.jpg");
    background-repeat: unset;
}

.mainsection {
    margin-top: 20px;
    padding: 0 50px;
}

.tipodiscapacidad {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.checkbox{
    height: 20px;
    width: 20px;
}

.optionBtn {
    height: 55px;
    width: 40%;
    font-size: 30px;
    background: rgb(40, 167, 69);
}
.optionBtn:hover{
    font-size: 32px;
    background: #2ae252;
    color: white;
}

#searchBtn{
    font-size: 30px;
    height: 55px !important;
    width: 80% !important;
    background: #ff8811;
    text-align: center;
    border-color: #ff8811;
}

#searchBtn:hover{
    background: #2ae252;
    border: #2ae252;
}

.clicked {
    background: #1dda46;

}


#pictureSelector{
    font-size: 14px;
}
