body {
    background-color: #C0CDFA;
}

.mainsection {
    margin-top: 20px;
    padding: 0 50px;
}

.tipodiscapacidad {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.checkbox{
    height: 20px;
    width: 20px;
}